* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        #2b0a1a,
        #6b2745,
        #d88aa8
    );
    color: white;
    font-family: "Poppins", Arial, sans-serif;
    overflow-x: hidden;
}


/* Soft romantic light */

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background:
        radial-gradient(circle at top, rgba(255,180,220,.25), transparent 40%);
    pointer-events: none;
}



/* Floating hearts */

.heart {
    position: fixed;
    bottom: -50px;
    animation: float 12s linear infinite;
    opacity: .5;
    font-size: 25px;
}


@keyframes float {

    from {
        transform: translateY(0) rotate(0);
    }

    to {
        transform: translateY(-120vh) rotate(360deg);
    }

}



/* Main screens */

.lock-screen,
.journey,
.memories,
.final {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    flex-direction: column;

}



/* Glass cards */

.lock,
.photo-card,
.final-box {

    background: rgba(255,255,255,.12);

    backdrop-filter: blur(15px);

    border-radius: 30px;

    padding: 35px;

    box-shadow:
    0 0 40px rgba(255,150,200,.35);

}



/* Lock */

.lock h1 {

    font-size: 70px;

    margin-bottom: 20px;

}



input {

    padding: 15px;

    border-radius: 30px;

    border: none;

    outline: none;

    text-align: center;

    width: 260px;

}



button {

    margin-top: 20px;

    padding: 15px 45px;

    border-radius: 30px;

    border: none;

    cursor: pointer;

    background: #ffd6e8;

    color:#6b2745;

    font-size:16px;

}



/* Journey text */

.journey h1 {

    font-size: 45px;

    animation: fade 3s;

}



/* Photos */

.photo-card {

    width:330px;

}



.photo-card img {

    width:100%;

    border-radius:20px;

}



.photo-card p {

    margin-top:20px;

    font-size:18px;

}



/* Final */

.final h1 {

    font-size:50px;

}



#finalText {

    max-width:600px;

    margin:25px;

    line-height:1.8;

    font-size:22px;

}



/* Animations */

@keyframes fade {

    from {
        opacity:0;
        transform:translateY(40px);
    }

    to {
        opacity:1;
        transform:translateY(0);
    }

}
